<a href="https://colab.research.google.com/github/AnshumanMohapatra11121999/Python-Basics/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#List and their functions
#List can store values of multiple data types unlike array
#List is mutable.
l=["Ab",1,3]
print(l)
l[2]
l.append(0.9)
print(l)
l.insert(0,-1)
print(l)
l.remove(-1)
print(l)
l.count(3)
print(l)
#Tuple and their function
#Tuples are immutable version of List
#We cannot change any thing like add,remove after the tuple has been created.
#Following are some example of built in fuctions for tuple
t1=("apple","banana","grapes","Almond")
t2=("Car","Cycle","Bike")
#print(cmp(t1,t2))
print(len(t1))
print(max(t1))
print(min(t1))
l1=[100,24]

#Interchanging and Conversion betweemtuple and list
# Tuple to list conversion
l1=[100,24]
li=list(t2)
print(li)
# list to Tuple
tu=tuple(l1)
print(tu)

In [ ]:
# Dictionary in Python
#Used to store key,value pairs
#It is a collection which is ordered,changeable and donot allow duplicates.
dict1={"Fruits":"Apple","Grades":'A+','Marks':90}
print(dict1)
#Update the value of a particular key
dict1.update({"Marks":"100"})
print(dict1)
#Add a Key value pair in your dictionary
dict1["Color"]="Red"
print(dict1)
#Remove any pair in the dictionary
del dict1["Color"]
print(dict1)
dict1.pop("Grades")
print(dict1)

{'Fruits': 'Apple', 'Grades': 'A+', 'Marks': 90}
{'Fruits': 'Apple', 'Grades': 'A+', 'Marks': '100'}
{'Fruits': 'Apple', 'Grades': 'A+', 'Marks': '100', 'Color': 'Red'}
{'Fruits': 'Apple', 'Grades': 'A+', 'Marks': '100'}
{'Fruits': 'Apple', 'Marks': '100'}

In [ ]:
#Taking Input in python[Various input methods]
age=input("How old are you?")
print(type(age))

How old are you?10
<class 'str'>

In [ ]:
# Type-Casting in Python
x=10
y="20"

y=int(y)
print(x+y)
xx=100
xx=float(xx)
print(xx)

30
100.0

In [ ]:
#If-else Statement
gpa=3
if(gpa > 2):
 print("Acquired")
elif(gpa>1.5):
 print("Achieved")
elif(gpa>1):
 print("Barely Achieved")
else:
 print("Not Achieved")

Acquired

In [ ]:
#Control Statements
#It is used to control the orders of execution the program.
# There are 3 types Control Statements

#1.Continue
#2.Break
#3.Pass

#1.Continue
for i in range(1,10):
  if (i == 8 ):
    continue#(It skips 8 in (1 to 10) and then proceeds)
  print(i)

#2.Break(It terminates the loop containing it.)
for j in range(1,10):
  if (j == 8 ):
    break#(It breaks loop at 8 in (1 to 10) and then prints upto 7)
  print(j)

#3.PASS:(Null operation/Place holder)

for k in range(1,10):
  if (k == 8 ):
    pass#(It acts as an null function and does nothing to the order of program execution)
  print(k)

print("Current value of k",k)

1
2
3
4
5
6
7
9
1
2
3
4
5
6
7
1
2
3
4
5
6
7
8
9
Current value of k 9

In [ ]:
#LOOPS_IN_PYTHON
#1.FOR-LOOP(arguments(start,stop,step))
for i in range(1,10):
 print("The square of ",i," is:",i*i)
for j in range(1,10,2):
 print("The square of ",j," is:",j*j)
#Reverse for-loop
for k in range(10,1,-1):
 print("The square of ",k," is:",k*k)

The square of  1  is: 1
The square of  2  is: 4
The square of  3  is: 9
The square of  4  is: 16
The square of  5  is: 25
The square of  6  is: 36
The square of  7  is: 49
The square of  8  is: 64
The square of  9  is: 81
The square of  1  is: 1
The square of  3  is: 9
The square of  5  is: 25
The square of  7  is: 49
The square of  9  is: 81
The square of  10  is: 100
The square of  9  is: 81
The square of  8  is: 64
The square of  7  is: 49
The square of  6  is: 36
The square of  5  is: 25
The square of  4  is: 16
The square of  3  is: 9
The square of  2  is: 4

In [ ]:
#2 While-Loop
num = 1
while(num < 200):
  print(num)
  num = num * 2

1
2
4
8
16
32
64
128

In [ ]:
#Python_Functions
def myfunc():
  print("Hello world!!!")
  print("Python Python")

myfunc()
#Parametrized function
def myfun(fname,lname):
  print("Your first name:",fname)
  print("Your Last name:",lname)

myfun("Anshuman","Mohapatra")

#Functions having return values
def myfunct(x):
  return 5*x

print(myfunct(2))

#Passing list as argument in a function
def myfunclist(food):
  for x in food:
    print(x)
fruits=["Apple","Orange","Peach","Avacado"]

myfunclist(fruits)

Hello world!!!
Python Python
Your first name: Anshuman
Your Last name: Mohapatra
10
Apple
Orange
Peach
Avacado

In [ ]:
#Error Handling in Python:
#There are generally 2 types of errors in python
#1.Syntax error (Caused by wrong syntax in the code(No colon after for loop))
#2.Exceptions (It occures when the program is syntax wise correct but still doesnot produces desired result and interrupts the flow of program(Ex divide by zero error) )

In [ ]:
#Error Handling Part 2 (Using Try and Except block)
#The Try block lets you test a block of code for errors.
#The except block lets you handle the error.
#Simple example
try:
  print(x)
except:
  print("x is not defined")

#Example 2
a=[1,2,3,4,5]
try:
  print(a[0])
  print(a[1])
  print(a[8])#But 8th element is not present in the list
except:
  print("An Unhandled error occured")

#The output will produce the statement in the except block where there is error in the Try block.

x is not defined
1
2
An Unhandled error occured

In [ ]:
#Multiple exception in Try & Except block
try:
  x=5/0
  print(x)
  print(k)
except NameError:
  print("X is not defined yet.")
except ZeroDivisionError:
  print("Zero division error")

Zero division error

In [ ]:
#Else block in Error Handling
#Else block can be used to define a block of code which can be executed if no errors were raised.

m=10;
try:
  print(m)
except NameError:
  print("X is not defined")
else:
  print("Nothing happend")

10
Nothing happend

In [ ]:
#Finally keyword used in Error handling using Try and Except block.
#The condition attached to finally will execute irrespctive of the fact that error is raised or not.
#The condition will be executed regardless if the try block raises an error or not.
try:
  print(n)
except NameError:
  print("n is not defined")
else:
  print("Nothing happend")
finally:
  print("Exception does not matter in my case.")

n is not defined
Exception does not matter in my case

In [ ]:
#Raise Keyword in Exception and Error Handling.
#Raise keyword is used to create your own user defined Exception.
#Example 1
x=-1
if(x<0):
  raise Exception("Sorry! Number is below zero")

  #Output:Exception: Sorry! Number is below zero

#Example 2:
y="Sono Sharingan"
if not type(y) is int:
  raise Exception("Only Integers are Allowed")

  #Output:Exception:Only Integers are Allowed

Exception: ignored

Exception: ignored